
p {
    margin: 1rem 2rem;
    line-height: 1.5;
    color: #24292f;
}

h2 {
    margin-left: 2rem;
    margin-top: 2rem;
}

h3 {
    margin-left: 2rem;
    margin-top: 2rem;
}

pre {
    border-radius: 0 0.2em 0.2em 0.2em;
    background-color: #f1f1f4;
}

code {
    border-radius: 0.2em;
    background-color: #f1f1f4;
}

.lang-select {
    display: flex;
    flex-flow: row wrap;
    margin: 1em 2em;
}

.lang-radio {
    display: none;
}

.lang-label {
    order: 1;
    cursor: pointer;
    padding: 0.2em 1em;
    margin-right: 0.5em;
    border-radius: 0.2em 0.2em 0 0;
    background-color: #aab;
    color: #334;
    user-select: none;
    border-bottom: 1px solid #aab;
}

.lang-radio:checked + .lang-label {
    background-color: #f1f1f4;
    color: #558;
    border-bottom: 1px solid #dde;
}

.lang-content {
    order: 2;
    width: 100%;
    padding: 0.5em;
}

.lang-radio:not(:checked) + .lang-label + .lang-content {
    display: none;
}

.doc-viewer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.doc-viewer-nojs {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

