
p {
    margin: 1rem 0;
    line-height: 1.5;
    color: #24292f;
}

article {
    padding: 2rem;
}

h1 {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2 {
    margin-left: 2rem;
    margin-top: 2rem;
}

h3 {
    margin-left: 2rem;
    margin-top: 2rem;
}

pre {
    border-radius: 0 0.2em 0.2em 0.2em;
    background-color: #f1f1f4;
}

code {
    border-radius: 0.2em;
    background-color: #f1f1f4;
}

.lang-select {
    display: flex;
    flex-flow: row wrap;
}

.lang-radio {
    display: none;
}

.lang-label {
    order: 1;
    cursor: pointer;
    padding: 0.2em 1em;
    margin-right: 0.5em;
    border-radius: 0.2em 0.2em 0 0;
    background-color: #aab;
    color: #334;
    user-select: none;
    border-bottom: 1px solid #aab;
}

.lang-radio:checked + .lang-label {
    background-color: #f1f1f4;
    color: #558;
    border-bottom: 1px solid #dde;
}

.lang-content {
    order: 2;
    width: 100%;
    padding: 0.5em;
}

.lang-radio:not(:checked) + .lang-label + .lang-content {
    display: none;
}

.doc-viewer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.doc-viewer-nojs {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.guide-bottom-nav {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
}

.guide-bottom-link {
    text-decoration: none;
    font-size: 1.5rem;
}

.toc {
    margin-left: 2rem;
}

.toc ol {
    padding-left: 1em;
    list-style-type: none;
}

.toc li {
    margin-top: 0.25rem;
}

.toc a {
    text-decoration: none;
}
