
p {
    margin: 2em;
    line-height: 1.5;
}

pre {
    margin: 2em;
    padding: 1em;
    border-radius: 0.2em;
    background-color: #f8f8ff;
}

code {
    padding: 0 0.2em;
    border-radius: 0.2em;
    background-color: #f3f3fa;
}
