
.kw {
    color: #00a;
}

.kww {
    color: #bbf;
}

.code {
    font-family: monospace;
}

.section-fields {
    padding-left: 2rem;
}

.section {
    margin-bottom: -4px;
}

.section-name {
    font-family: monospace;
    background-color: #334;
    color: #fff;
    padding: 0.2em;
    padding-left: 1rem;
    position: sticky;
    top: 0px;
    z-index: 999;
}

.section-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nested-fields {
    padding-left: 1.5rem;
}

.field-name {
    font-weight: bold;
}

.enum-name {
    font-weight: bold;
}

.enum-count > .field-link {
    color: #835f85;
}

.desc {
    padding-left: 2rem;
    padding-right: 4rem;
    padding-bottom: 1.5rem;
    color: #222;
}

.desc.section-desc {
    padding-left: 2rem;
    padding-right: 4rem;
    padding-bottom: 1rem;
    color: #222;
}

.field-row {
    position: relative;
}

.section-link {
    color: #fff;
    text-decoration: none;
}

.field-link {
    color: #000;
    text-decoration: none;
}

.func-link:target::before {
    content: '';
    display: block;
    height:      2rem;
    margin-top: -2rem;
}

.field-link:target::before {
    content: '';
    display: block;
    height:      2rem;
    margin-top: -2rem;
}

.field-link:target {
    background-color: #ebc4e3;
    border-radius: 0.2em;
}

.func-link:target .field-link {
    background-color: #ebc4e3;
    border-radius: 0.2em;
}

code {
    background-color: #f4f4f4;
    padding: 0.1em 0.15em;
    border-radius: 0.2em;
}

pre {
    background-color: #f4f4f4;
    padding: 0.1em 0.15em;
    border-radius: 0.2em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    overflow-x: auto;
}

.desc p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.4;
}

.no-desc {
    padding-top: 1rem;
}

.desc-note {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0rem 0.6rem;
    border-left: 3px solid #f88;
    display: inline-block;
}

.desc-hint {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0rem 0.6rem;
    border-left: 3px solid #88f;
    display: inline-block;
}

table.enum-values {
    margin-top: -1rem;
    border-spacing: 2rem 0.5rem;
}

.section-globals {
    padding-top: 1rem;
}

.func {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2px;
}

.func-begin {
    flex-shrink: 0;
    flex-grow: 0;
}

.func-args {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0;
}

.func-name {
    font-weight: bold;
}

.desc.top-desc {
    margin-top: 0.75rem;
    margin-bottom: 1.0rem;
}

.toplevel {
    padding-right: 2rem;
}
