:root {
    --bg-gutter: #222;
    --bg-bluish: #f1f1f4;
    --bg-bluish-dark: #f1f1f4;
    --bg-bluish-mid: #e4e4ec;
    --bg-bluish-hi: #d0d0e0;
    --bg-dark: #333344;
    --fg-dark: #f0f0f8;
    --edge-bluish: #ddddeb;
    --edge-bluish-hi: #b3b3cc;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: none;
    box-sizing: border-box;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    position: relative;
}

a {
    color: #4749ce;
}

.doc-viewer {
    font-size: 1rem;
}

.doc-viewer-nojs {
    background-color: #222;
    padding: 0.5rem;
    width: 100%;
    display: block;
    color: #ddd;
    text-align: center;
}

.doc-viewer-mid {
    height: 22rem;
    width: 100%;
}

.doc-viewer-tall {
    height: 28rem;
    width: 100%;
}

.doc-viewer-xtall {
    height: 36rem;
    width: 100%;
}

.g-toplevel {
    display: flex;
    flex-direction: row;
    background-color: var(--bg-bluish);
    min-height: 100vh;
}

.g-nav {
    min-width: 9rem;
    max-width: 14rem;
    width: 14rem;
    flex-shrink: 0.1;
    background-color: var(--bg-bluish-dark);
    border-right: 1px solid var(--edge-bluish);
}

html {
    scrollbar-gutter: stable;
}

body {
    background-color: var(--bg-gutter);
}

.g-gutter-left {
    flex-grow: 1;
    background-color: var(--bg-gutter);
}


.g-gutter-right {
    flex-grow: 1.5;
    background-color: var(--bg-gutter);
    order: 10;
}

.g-main {
    flex-grow: 8;
    min-width: 35rem;
    max-width: 54rem;
    font-size: 1rem;
    color: #222;
    width: 100%;
    background-color: #fcfcfc;
}

.g-inline {
    background-color: #fff;
}

.g-nav-header {
    padding: 1rem;
    margin-bottom: 0.5rem;
    color: #242425;
}

.g-nav-sticky {
    position: sticky;
    top: 0px;
}

.g-nav ul {
    list-style: none;
}

.g-nav a {
    display: block;
    color: #38384d;
    font-size: calc(1rem - 1px);
    border-top: 1px solid rgba(0,0,0,0);
    border-bottom: 1px solid rgba(0,0,0,0);
    text-decoration: none;
    letter-spacing: 0.15px;
    margin-top: -0.07rem;
    margin-bottom: -0.07rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.25rem;
    line-height: 1.0;
}

.g-nav a:hover:not(.active) {
    background-color: var(--bg-bluish-mid);
}

.g-nav a.active {
    color: #2d2d42;
    background-color: var(--bg-bluish-hi);
    border-top: 1px solid var(--edge-bluish-hi);
    border-bottom: 1px solid var(--edge-bluish-hi);
}

.g-nav ul a { 
    padding-left: 1rem;
}

.g-nav ul ul a { 
    padding-left: 2rem;
}

.c-builtin {
    color: #408;
}

.c-comment {
    color: #080;
}

.token.comment {
    color: #080;
}

.c-hover {
    background-color: #e0e0e8;
}

.c-string {
    color: #ca6725;
}

.c-header {
    color: #ca6725;
}

.token.string {
    color: #ca6725;
}

.c-kw {
    color: #00f;
}

.c-preproc {
    color: #00a;
}

.c-type {
    color: #00f;
}

.c-type-cpp {
    color: #00a;
}

.token.keyword {
    color: #00f;
}


a.c-type {
    text-decoration: underline #9815cc27;
    color: #9815cc;
}

.token.namespace {
    color: #804d94;
}

.token.class-name {
    color: #9815cc;
}

.token.function {
    color: #71067a;
}

a.c-name {
    text-decoration: underline #9815cc31;
    color: #71067a;
}

.c-call {
    color: #448;
}

article > ul li {
    list-style: unset;
    margin-left: 2em;
    margin-top: 0.25em;
}

.header-anchor {
    visibility: hidden;
    color: #888;
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 0.2em;
}

.header-parent h1 {
    display: inline-block;
}

.header-parent h2 {
    display: inline-block;
}

.header-parent h3 {
    display: inline-block;
}

.header-parent h4 {
    display: inline-block;
}

.header-parent:hover .header-anchor {
    visibility: visible;
}

code, pre {
    font-family: monospace;
    font-size: calc(1rem - 1px);
}

.footnote-backref {
    font-family: sans-serif;
    text-decoration: none;
}

.footnote-ref a {
    text-decoration: none;
}

.footnotes {
    margin-top: 2rem;
}
