<!doctype html>
{% capture css %}
  {% include "style.css" %}
  {% include "reference.css" %}
{% endcapture %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
      {{ css | cssmin }}
    </style>
  </head>
  <body>
    <div class="g-toplevel">
      <div class="g-gutter-left">
      </div>
      <nav class="g-nav">
        <div class="g-nav-sticky">
          {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | removeDotHtml }}
        </div>
      </nav>
      <div class="g-gutter-right">
      </div>
      <main class="g-main">
        <article>
          {{ content }}
        </article>
      </main>
    </div>
  </body>
</html>

