:root {
    --ps-pad: 0.5rem;
}

html:has(.dv-expanded) {
    scrollbar-gutter: unset;
}

.ufbx-canvas-container {
    position: relative;
}

.ufbx-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.ufbx-viewer {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#ufbx-render-canvas {
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.ol-container {
    overflow-y: scroll;
    min-height: 0;
    flex: 1 1;
    width: 100%;
    overflow-x: hidden;
}
.ol-top {
    color: #444;
    user-select: none;
    flex: 1 1;
}
.ol-icon {
    height: 1.5em;
    width: 1.5em;
    -webkit-user-drag: none;
}
.ol-list {
    list-style: none;
    position: relative;
}
.ol-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.5rem;
}
.ol-row:focus-visible {
    border: 0.2em solid #ccf;
}
.ol-row:hover {
    /*background-color: var(--bg-bluish-mid);*/
}
.ol-name {
    border-radius: 6px;
    padding: 0.1rem;
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 1.45rem;
}
.ol-name span {
    margin-right: 0.25rem;
}
.ol-row.ol-selected .ol-name {
    background-color: var(--bg-bluish-mid);
    color: #404040;
}
.ol-row.ol-node-selected .ol-name {
    background-color: var(--bg-dark);
    color: #f8f8ff;
}
.ol-type {
    flex-grow: 1;
    overflow-x: hidden;
    direction: rtl;
    text-align: right;
    font-size: 0.8em;
    padding-right: 0.5em;
    color: #666;
}
.ol-selected .ol-type {
    color: #080808;
}
.ol-ruler {
    position: absolute;
    width: 1px;
    top: 0.25rem;
    height: calc(100% - 0.5rem);
    background-color: var(--bg-bluish-hi);
}
.ol-space {
    flex-grow: 1;
    height: 1px;
}
.ol-attrib {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding-left: 0.15rem;
    padding-right: 0.15rem;
    height: 1.45rem;
    color: #556;
}
.ol-row.ol-selected .ol-attrib {
    background-color: var(--bg-bluish-mid);
}
.ol-row:not(.ol-selected) .ol-attrib:hover:not(.ol-attrib-selected) {
    background-color: var(--bg-bluish-mid);
}
.ol-row.ol-selected .ol-attrib:hover:not(.ol-attrib-selected) {
    background-color: var(--bg-bluish-midhi);
}
.ol-row .ol-attrib.ol-attrib-selected {
    background-color: var(--bg-dark);
    color: #f8f8ff;
}
.ol-attrib span {
    font-weight: normal;
    font-size: 13px;
    margin-right: 0.15rem;
    margin-left: 0.15rem;
}
.ol-attrib .ol-icon {
    height: 1.25rem;
    width: 1.25rem;
}
.ol-row:not(.ol-selected) .ol-name:hover {
    background-color: var(--bg-bluish-mid);
}
.ol-row.ol-selected:not(.ol-node-selected) .ol-name:hover {
    background-color: var(--bg-bluish-midhi);
}
.ol-row:hover .ol-space {
    background-color: var(--bg-bluish-hi);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.dv-inline {
    width: 100%;
    height: 100%;
}

.dv-vertices {
    color: #222;
    flex: 0.5;
    max-height: 20rem;
    min-height: 0;
}

.no-js .dv-vertices {
    display: none;
}

.dv-normal {
    flex: 1;
    min-height: 0;
}

.dv-top {
    background-color: var(--bg-bluish);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.dv-top ::-webkit-scrollbar {
    width: 8px;
}

.dv-top ::-webkit-scrollbar-track {
    background-color: #e2e2e2;
}

.dv-top ::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.dv-menu {
    display: flex;
    background-color: var(--bg-dark);
    justify-content: end;
}

.dv-content {
    flex-shrink: 1;
    flex-grow: 1;
    min-height: 0;
}

.dv-button {
    all: unset;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: #61597d;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    color: #cdcde0;
    padding: 0.2rem 0.4rem;
    user-select: none;
    font-size: 12px;
}


.dv-button:hover {
    background-color: #736b91;
    color: #eef;
}

.dv-button .icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    color: #eef;
}

.dv-file-input {
    display: none;
}

.dv-expanded {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

.sp-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: calc(1rem - 1px);
}
.sp-pane {
    width: 100%;
    height: 100%;
}
.sp-outliner {
    overflow-x: hidden;
    min-width: 15rem;
    max-width: 20rem;
    min-height: 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.sp-viewer {
    overflow: hidden;
    background-color: rgb(128, 128, 153);
}

.ps-top {
    background-color: var(--bg-bluish);
    color: #444;
    flex-basis: 10rem;
    display: flex;
    flex-direction: column;
}
.ps-field {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-left: calc(-var(--ps-pad));
    margin-top: 0.3em;
    height: 1.5rem;
}

.ps-name {
    flex-basis: 35%;
    flex-shrink: 0;
    user-select: none;
    color: var(--text-light);
}

.ps-name span {
    padding: 0.2em;
}

.ps-override {
    font-weight: bold;
    color: var(--text-light-hi);
    cursor: pointer;
}

.ps-input {
    font-size: calc(1rem - 2px);
    margin-left: 0.3em;
    padding: 0.1rem 0.4rem;
    background-color: var(--bg-bluish-mid);
    color: #33334c;
    display: inline-block;
    flex-grow: 1;
    min-width: 1em;
    user-select: none;
    flex-basis: 10%;
    overflow: hidden;
}
.ps-input.ps-draggable:hover {
    background-color: var(--bg-bluish-hi);
    cursor: ew-resize;
}
.ps-input.ps-typing {
    background-color: var(--bg-bluish-hi);
}
.ps-input.ps-dragging {
    background-color: var(--bg-bluish-hi);
}

.ps-left {
    width: 0.5rem;
    height: 100%;
    align-self: start;
}
.ps-left:focus-visible {
    border: 0.2em solid #ccf;
}
.ps-color-square {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.3em;
}
.ps-group {
    color: var(--text-light);
    font-size: 0.8em;
    margin-top: 0.5em;
    margin-left: 1.5em;
    user-select: none;
}
.ps-titlearea {
    background-color: var(--bg-bluish-mid);
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
.ps-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ps-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    color: #666;
}
.ps-tabs {
    display: flex;
}
.ps-tab {
    color: #ccc;
    padding: 0.3em 0.8em;
}
.ps-tab.ps-active {
    background-color: #222;
    font-weight: bold;
}
.ps-icon {
    height: 1.5em;
    margin-right: 0.25em;
    -webkit-user-drag: none;
}
.ps-sheet {
    overflow-y: auto;
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: var(--ps-pad);
    padding-right: var(--ps-pad);
    height: 10px;
    font-size: calc(1rem - 1px);
}

.vw-top {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: #383838;
}

.vw-row {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.vw-header {
    display: flex;
    width: 100%;
    height: 2em;
    align-items: center;
    background-color: var(--bg-dark);
    color: var(--fg-dark);
}

.vw-row:hover {
    background-color: var(--bg-bluish-hi);
    color: #222;
}

.vw-list {
    flex-grow: 1;
}

.vw-index {
    width: 5em;
    opacity: 95%;
}

.vw-cell {
    width: 12em;
    opacity: 95%;
}

.vw-face-highlight {
    background-color: var(--bg-bluish-mid);
}

/*

.t-top {
    width: 100%;
    height: 100px;
    background-color: #f88;
    display: flex;
    flex-direction: column;
}

.t-split {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    min-height: 0;
}

.t-left {
    overflow-y: scroll;
    flex: 1;
}

.t-right {
    flex: 2;
}

.t-bottom {
    overflow-y: scroll;
    flex: 1;
    min-height: 0;
}

.t-outliner {
}

*/